.products {
  padding: 40px 32px 40px 56px;
}

.products button.count {
  padding: 0 8px;
  height: 40px;
  border: none;
  background: transparent;
  color: #7350ff;
  font-weight: bold;
  cursor: pointer;

  &:disabled {
    color: #a6a7b3;
    cursor: not-allowed;
  }
}

.products {
  flex: 1;
}

.products-list {
  position: relative;
  width: 100%;
}

.product {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;

  &:hover {
    cursor: pointer;
  }
}

.product-image {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  position: relative;
  max-width: 70px;
  margin-right: 16px;

  .skeleton,
  img {
    border: 1px solid #cacad1;
    border-radius: 4px;
  }

  .skeleton {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
  }

  img {
    width: 72px;
    height: 72px;
  }
}

.product-code {
  border-radius: 4px;
  color: #a6a7b3;
  letter-spacing: 0.13px;
  font-weight: 400;
}

.product-quantity {
  width: 40px;
  height: 40px;
  border: 2px solid #dbdbe0;
  border-radius: 4px;
  text-align: center;
}

.product-price {
  color: #000000;
  font-size: 16px;
}

.product .clear {
  border: none;
  background: transparent;
}

.product .clear span {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
}

.product .clear span:before,
.product .clear span:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 2px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 8px;
  background-color: #a6a7b3;
  transform: rotate(-45deg);
  transform-origin: center center;
}

.product .clear span:before {
  transform: rotate(45deg);
}

.product h1 {
  color: #7350ff;
}

.product-detail {
  display: flex;

  &__image {
    max-width: 800px;
  }

  &__info {
    display: flex;
    flex-flow: column wrap;
    padding: 40px 32px;
    width: 312px;
    background-color: #fff;
    color: #212240;
    justify-content: center;
    border-left: solid 1px #f3f3f3;

    &-top {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
    }
  }

  &__text {
    font-size: 14px;
    padding: 36px 0;
    margin-bottom: 16px;
    line-height: 1.4;
  }

  &__price {
    font-size: 18px;
    font-weight: bold;
  }
}
