{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    ["@babel/preset-typescript", { "allowNamespaces": true }]
  ],
  "plugins": ["@babel/plugin-transform-runtime", "react-hot-loader/babel"]
}
